 <div class="card post" style="width: 38rem;">
    <div class="card-header post">
      <div class="post-container">
        <img class="animal-pic" [src]="comment.imagem" alt="img">
        <p><strong>{{ comment.imagemNome }} respondeu:</strong> </p>
        <p>{{ comment.conteudo }}</p>
      </div>
      <blockquote class="blockquote mb-0">
        <footer class="blockquote-footer">{{ comment.data | date:'medium'  }}</footer>
      </blockquote>
     <!-- Like Button -->
     <app-like-button [commentUuid]="comment.uuid" [likes]="comment.likes"></app-like-button>
     <!-- Complain Button -->
     <app-complain-button [commentUuid]="comment.uuid"></app-complain-button>
    </div>
 </div>

