<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <form>
          <!-- Email input -->
          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="email"
              id="form1Example1"
              class="form-control text-white"
            />
            <label mdbLabel class="form-label text-white" for="form1Example1">
              Digite seu Email
            </label>
          </mdb-form-control>

          <!-- Submit button -->
          <button mdbRipple type="button" class="btn btn-primary btn-block">
            Enviar solicitação no email
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
