<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <form (submit)="enviarSolicitacao()">
          <!-- Email input -->
          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="email"
              id="form1Example1"
              class="form-control text-white"
              [(ngModel)]="email"
              name="email"
              required
            />
            <label mdbLabel class="form-label text-white" for="form1Example1">
              Digite seu Email
            </label>
          </mdb-form-control>

          <!-- Submit button -->
          <button
            mdbRipple
            type="button"
            class="btn btn-primary btn-block"
            [disabled]="isLoading"
            (click)="enviarSolicitacao()"
          >
            <span *ngIf="!isLoading">Enviar solicitação no email</span>
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
          </button>
        </form>

        <!-- Mensagem de Feedback -->
        <div *ngIf="mensagem" class="mt-3 alert" [ngClass]="{'alert-success': !isLoading, 'alert-danger': isLoading}">
          {{ mensagem }}
        </div>
      </div>
    </div>
  </div>
</div>
