<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center">
                <div class="logo d-flex align-items-center">
                    <img src="/assets/Logo/Layer 1.png" alt="Logo" class="img-fluid me-2">
                    <h1 class="mb-0">TEST</h1> 
                </div>
               
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center fade-background">
            <app-animated class="animate ms-3"></app-animated>        
        </div>
    </div>
</div>
<app-fotter></app-fotter>