<div class="container-fluid vh-100">
    <div class="row h-100">
        <div class="col-md-6 d-flex align-items-center">
            <div class="content-container">
                <div class="logo-container">
                    <img src="/assets/Logo/Layer 1.png" alt="Logo" class="logo-img">
                </div>
                <app-animaciontext></app-animaciontext>
                
                <div class="buttons-container">
                    <button (click)="criar_conta()" class="btn btn-crear">Criar Conta</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center">
            <app-animated class="animate ms-3"></app-animated>
        </div>
    </div>
</div>
<app-fotter></app-fotter>