.animate {
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 6.25rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
  text-align: center;
}