


.btn {
  margin-top: 20px;
}

.text{
  font-size: 3rem;
  font-weight:bolder;
  color: white;
  align-items: center;
  
}

.text-p{
  padding-top: 1rem;
  font-size: 2rem;
  font-weight: 200;
  color: white;
}

@media (max-width: 767px) {
  .btn {
    margin-top: 20px;
  }
  
  .text{
    font-size: 2.5rem;
    font-weight:bolder;
    color: white;
    align-items: center;
    line-height: 1.2;
  }
  
  .text-p{
    padding-top: 2rem;
    font-size: 1rem;
    font-weight: 200;
    color: white;
  }
}