<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-center align-items-center">
        <form (submit)="resetPassword()">
          <!-- Nova Senha -->
          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="password"
              id="novaSenha"
              class="form-control text-white"
              [(ngModel)]="novaSenha"
              name="novaSenha"
              required
              minlength="6"
            />
            <label mdbLabel class="form-label text-white" for="novaSenha">
              Digite sua nova senha
            </label>
          </mdb-form-control>

          <!-- Confirmar Nova Senha -->
          <mdb-form-control class="mb-4">
            <input
              mdbInput
              type="password"
              id="confirmarNovaSenha"
              class="form-control text-white"
              [(ngModel)]="confirmarNovaSenha"
              name="confirmarNovaSenha"
              required
              minlength="6"
            />
            <label mdbLabel class="form-label text-white" for="confirmarNovaSenha">
              Confirme sua nova senha
            </label>
          </mdb-form-control>

          <!-- Botão de Enviar -->
          <button
            mdbRipple
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="isLoading"
          >
            <span *ngIf="!isLoading">Redefinir Senha</span>
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm"></span>
          </button>
        </form>

        <!-- Mensagem de Feedback -->
        <div *ngIf="mensagem" class="mt-3 alert" [ngClass]="{'alert-success': !isLoading, 'alert-danger': isLoading}">
          {{ mensagem }}
        </div>
      </div>
    </div>
  </div>
</div>
