/* Variables para colores y medidas comunes */
:root {
  --primary-bg: #1C2733;
  --text-color: #FFFFFF;
  --accent-color: #f21d1d;
  --border-color: #333;
}

/* Estilos base del sidebar */
#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  background-color:  #1C2733;
  width: 16rem;
  margin-left: 1;
}

#sidebar-wrapper .list-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Estilos de los items */
.list-group-item {
  background-color:  #1C2733;
  color: var(--text-color);
  border: 0;
  width: 5rem;
}

.list-group-item a {
  color: var(--text-color);
  text-decoration: none;
}

.list-group-item:hover a {
  color: var(--accent-color);
  cursor: pointer;
}

/* Estilos para los iconos */
.list-group-item .icon {
  color: #FFFFFF; /* Color blanco para los iconos */
}

.list-group-item:hover .icon {
  color: var(--accent-color); /* Cambiar a color de acento al pasar el ratón */
}

/* Ruta seleccionada */
.selected-route a {
  color: var(--accent-color) !important;
}

/* Elementos UI */
.user-avatar {
  width: 1.5rem;
}

.user-name {
  font-size: 1rem;
}

.img-logo {
  width: 2.5rem;
}

/* Sección de usuario */
.user-info {
  align-items: center;
  border-top: 1px solid var(--border-color);
  padding: 10rem 0 25rem;
  margin-top: auto;
}

.sidebar-heading {
  padding: 0.875rem 1.25rem 1.75rem;
}

/* Media query para móviles */
@media (max-width: 768px) {
  .col-md-1 .sidebar {
    flex: 0 0 auto;
    width: 15.3%;
    margin-top: 2rem;
  }

  .user-info, 
  .user-name, 
  .sidebar-heading {
    display: none;
  }

  #sidebar-wrapper {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 60px; 
    background-color: #1C2733; 
    z-index: 10; 
    overflow-y: hidden;
  }

  .list-group {
    display: flex;
    flex-direction: row !important;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .list-group-item {
    flex: 1;
    display: flex;
    justify-content: center !important;
    padding: 0.5rem;
    border-right: 1px solid #1DA1F2; /* Cambia el color del borde si es necesario */
  }

  .list-group-item:last-child {
    border-right: 0;
  }

  .list-group-item .icon {
    display: inline-block;
    margin-right: 0 !important;
    width: 30px !important;
    color: #FFFFFF; /* Color blanco para los iconos en móvil */
  }

  .list-group-item:hover .icon {
    color: #1DA1F2; /* Cambiar a color de acento al pasar el ratón */
  }

  .list-group-item .text {
    display: none !important;
  }

  .user-avatar {
    width: 32px;
  }

  #sidebar-wrapper .list-group-item:hover a {
    color: var(--text-color);
  }

  .selected-route {
    box-shadow: inset 0px 4px 12px rgba(0, 0, 0, 0.4);
  }

  
  #feed-container {
    position: relative;
  }

  #feed-container::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    display: none; 
  }


  #sidebar-wrapper.active ~ #feed-container::before {
    display: block; 
  }
}