<mat-dialog-content class="mat-typography">
  
  
  <!-- Sessão Post -->
  <h2 mat-dialog-title>Postagem</h2>
  <div>
    <div class="card mb-3" style="max-width: 38rem;">

      <div class="card-header d-flex align-items-center">
        <img class="rounded-circle me-2" [src]="post.imagem" alt="img" style="width: 40px; height: 40px;">
        <p class="mb-0"><strong>{{ post.imagemNome }} postou:</strong></p>
      </div>

      <div class="card-body">
        <p class="card-text"><strong>{{ post.conteudo }}</strong></p>
        <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">{{ post.data | date:'medium' }}</footer>
        </blockquote>
      </div>
    </div>
  </div>
  
  
  <!-- Sessão Comentario -->
  <h2 mat-dialog-title>Comentários</h2> 
  <div>
    @for (comment of post.comments; track $index) {
    <app-comment [comment]="comment"></app-comment>
    }
  </div>
</mat-dialog-content>


<app-create-comment [post]="post" (commentCreated)="onCreateComments()"></app-create-comment>
<!-- Botoes pra sair do modal -->
<!-- <mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions> -->