:root {
  --column-gap: 10rem;
}
:host {
  border-radius: 8px; 
  overflow: hidden;
}

.container-fluid {
  padding: 2rem;
}

.row.g-fixed {
  display: flex;
  gap: var(--column-gap);
}
.mb-4{
  border-radius: 8px;
}

.sidebar {
  flex-shrink: 0;
}
.feed {
  height: 80vh; 
  overflow-y: auto; 
  scrollbar-width: none; 
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.966)); 
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.555); 
  border-radius: 8px; 
}
.feed::-webkit-scrollbar {
  width: 0;
}
.card.post {
  background-image: url('/src/assets/Background/Recurso 2.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 16px; 
  border-radius: 8px; 
  margin: 10px; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.692); 
}

.feed-column {
  flex-grow: 1;
}



.trending {
  flex-shrink: 0;
}

@media (max-width: 1200px) {
  :root {
    --column-gap: 3rem;
  }
  
}



@media (max-width: 767px) {
  .row.g-fixed {
    flex-direction: column;
    gap: 2rem;
  }

  .sidebar {
    width: 100%;
  }

  .feed-column {
    width: 100%;
  }

  
  .trending {
      width: 100%;
      display: none; /* Ocultar el componente trending en móviles */
    }
  
}
@media (min-width: 768px) and (max-width: 1027px) {
  
  .col-md-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según sea necesario */
  }
  
  .mb-4, .card.post.feed.mb-3 {
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
  }
}
