<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-1  sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <!-- Feed -->
    <div class="col-md-6">
      <div class="mb-4">
        <!-- Vincule o evento (postCreated) ao método onPostCreated do app-feed -->
        <app-create-post (postCreated)="feed.onPostCreated()"></app-create-post>
      </div>

      <div class="card post feed mb-3">
        <!-- Adicione uma referência (#feed) ao componente para acessar seu método -->
        <app-feed #feed></app-feed>
      </div>
    </div>

    <!-- Trending -->
    <div class="col-md-3 trending">
      <app-treding></app-treding>
    </div>
  </div>
</div>

